@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
@import url(font-awesome.min.css);
html,
body {
	height: 100%;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	font: 300 13px/1.5 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #333;
	background: url(../images/laptop-on-work-desk.jpg) center fixed no-repeat;
	background-size: cover;
	margin: 0;
}

a {
	cursor: pointer;
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
}

input[type=text],
input[type=email],
textarea {
	border: 1px solid #CCC;
	outline: none;
	padding: 10px;
	font-family: inherit;
	font-size: 1em;
	box-sizing: border-box;
	-webkit-appearance: none;
}

input[type=text][disabled],
input[type=email][disabled],
textarea[disabled] {
	color: #CCC;
}

.button {
	font-size: 1em;
	border: 1px solid #09F;
	padding: 8px 18px;
	border-radius: 3px;
	background-color: #FFF;
	color: #09F;
	cursor: pointer;
	outline: none;
}

.button:hover {
	background-color: #09F;
	color: #FFF;
}

.button.active {
	background-color: #09F;
	color: #FFF;
	background-size: 30px 30px;
	background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
	-webkit-animation: barberpole 1.5s linear infinite;
	-o-animation: barberpole 1.5s linear infinite;
	animation: barberpole 1.5s linear infinite;
}

.wrapper {
	max-width: 960px;
	margin: auto;
}

.headline {
	font: 300 5.5em/1.5 "Raleway";
	margin: 0;
}

.subtitle {
	font: 300 2em/1.25 "Raleway";
}

.clear {
	clear: both;
}

.text-center {
	text-align: center;
}
/**
 * Navigation styling
 */

.master-nav {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height: 54px;
	background: #FFF;
	border-bottom: 1px solid rgba(0, 0, 0, .125);
	z-index: 1;
}

.master-nav.fixed {
	position: fixed;
}

.master-nav ul {
	list-style: none;
}

.master-nav a {
	display: block;
	float: left;
	line-height: 54px;
	margin: 0 20px 0 0;
	color: #333;
	text-transform: uppercase;
	font-size: .95em;
	transition: .25s;
}

.master-nav a:hover {
	color: #09F;
}

.master-nav a.active {
	color: #09F;
}

.nav-connect {
	text-align: right;
}

.nav-connect li {
	display: inline-block;
}

.nav-connect a {
	line-height: 34px;
	width: 34px;
	margin: 9px 0 9px 4px;
	padding: 0;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	font-size: 24px;
}

.nav-connect a.connect-facebook {
	color: #44619D;
	border-color: #44619D;
}

.nav-connect a.connect-facebook:hover {
	color: #FFF;
	background-color: #44619D;
}

.nav-connect a.connect-linkedin {
	color: #0077B5;
	border-color: #0077B5;
}

.nav-connect a.connect-linkedin:hover {
	color: #FFF;
	background-color: #0077B5;
}
/**
 * Cover section
 */

.cover {
	width: 100%;
	height: 100%;
	display: table;
	background: rgba(0, 0, 0, .45);
	position: relative;
}

.cover-headline {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #FFF;
	z-index: 1;
}

.cover-bottom {
	position: absolute;
	bottom: .25em;
	left: 0;
	right: 0;
	text-align: center;
}

.cover-bottom a {
	color: #FFF;
	font-size: 1.5em;
	font-weight: 300;
	line-height: 1;
}

.cover-bottom i {
	display: block;
	font-size: 2em;
}
/**
 * Profile section
 */

.profile {
	background: #FFF;
	position: relative;
	padding: 80px 0 0;
}

.profile-photo {
	width: 120px;
	height: 120px;
	display: block;
	margin: 0 auto 20px;
	border-radius: 50%;
}

.quote {
	margin: 0 0 2em;
	font-size: 1.5em;
	text-align: center;
}

.grid {
	list-style: none;
}

.grid li {
	height: 0;
	position: relative;
}

.grid.col-4 li {
	width: 25%;
	padding-top: 25%;
}

.grid.col-3 li {
	width: 33.33%;
	padding-top: 25%;
}

.grid li {
	float: left;
}

.grid-cell {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: 100%;
}

.job-list {
	margin: 20px -20px;
}

.job-list.col-3 li {
	height: auto;
	padding-top: 0;
	margin-bottom: 40px;
}

.job-list .grid-cell {
	position: relative;
	padding: 20px;
}

.job-list .fa {
	font-size: 7em;
	width: 100%;
	text-align: center;
}

.job-list .fa-paint-brush {
	color: #2ecc71;
}

.job-list .fa-flask {
	color: #f39c12;
}

.job-list .fa-rocket {
	color: #3498db;
}

.job-name {
	font-size: 1.75em;
	font-weight: normal;
	margin: .5em 0;
}

.job-caption {
	font-size: 1.1em;
}

.skillset {
	margin: 40px 0;
}

.skillset .grid-cell {
	background-position: center;
	background-repeat: no-repeat;
}

.skill-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .65);
	color: #FFF;
	opacity: 0;
	transition: .25s;
	display: table;
}

.skill-name {
	font-size: 2em;
}

.skill-caption {
	display: table-cell;
	vertical-align: middle;
	padding: 20px;
	font-size: 12px;
}

.skill-caption i {
	float: right;
	font-style: normal;
}

.skill-indicator {
	border: 1px solid #FFF;
	padding: 1px;
}

.skill-indicator span {
	display: block;
	height: 4px;
	background: #FFF;
	transition: 1s;
	width: 0;
}

.grid:hover .skill-fill-php {
	width: 95%;
}

.grid:hover .skill-fill-html {
	width: 98%;
}

.grid:hover .skill-fill-js {
	width: 96%;
}

.grid:hover .skill-fill-css {
	width: 98%;
}

.grid:hover .skill-fill-java {
	width: 80%;
}

.grid:hover .skill-fill-node {
	width: 85%;
}

.grid:hover .skill-fill-jquery {
	width: 95%;
}

.grid:hover .skill-fill-swift {
	width: 90%;
}

.grid:hover .skill-overlay {
	opacity: 1;
}

.os-title {
	margin: 100px 0 2em;
}

.os-list.col-4 li {
	text-align: center;
	font-size: 1.5em;
	height: auto;
	padding-top: 0;
}

.os-list .grid-cell {
	position: relative;
	margin-bottom: 40px;
}

.os-logo {
	width: 80px;
	height: 80px;
	margin: auto;
	padding: 20px;
	border: 1px solid #DDD;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 80px;
	border-radius: 50%;
}
/**
 * Portfolio section
 */

.portfolio {
	background: #FFF;
	padding: 20px 0 80px;
}

.portfolio .subtitle {
	padding: 80px 0 40px;
	border-top: 1px solid #DDD;
}

.product-list {
	margin-left: -20px;
	margin-right: -20px;
}

.product-list.col-3 li {
	padding-top: 0;
	height: auto;
}

.product-list .grid-cell {
	position: relative;
	margin: 20px;
}

.product-photo {
	height: 160px;
	/*background-color: #F5F5F5;*/
	
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-bottom: 10px;
}

.product-name {
	font-size: 1.25em;
	font-weight: normal;
	margin: 0;
}

.product-caption {
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.off-title {
	margin-top: 4em;
}

.off-title h3 {
	margin: 0;
	font-size: 1.75em;
	font-weight: normal;
}
/**
 * Contact Section
 */

.contact {
	padding-top: 80px;
	background-color: #333;
}

.contact .subtitle {
	color: #FFF;
	text-align: center;
}

.contact-list {
	list-style: none;
	text-align: center;
	margin: 40px;
}

.contact-list li {
	display: inline-block;
	-webkit-transition: .25s;
	-o-transition: .25s;
	transition: .25s;
}

.contact-list a {
	color: #CCC;
	font-size: 1.25em;
	display: block;
	margin: 10px 20px;
}

.contact-list i {
	font-size: 1.5em;
	vertical-align: top;
}

.contact-list li:hover {
	-webkit-transform: scale(1.25, 1.25);
	-ms-transform: scale(1.25, 1.25);
	-o-transform: scale(1.25, 1.25);
	transform: scale(1.25, 1.25);
}

.contact-list li:hover a {
	color: #FFF;
}

.contact-form {
	width: 640px;
	margin: auto;
	padding: 40px 0;
}

.contact-form table {
	width: 100%;
}

.contact-form td {
	padding-bottom: 16px;
}

.contact-form tr:first-child td {
	padding-left: 8px;
}

.contact-form tr:first-child td:first-child {
	padding-left: 0;
	padding-right: 8px;
}

.contact-form input[type=text],
.contact-form input[type=email],
.contact-form textarea {
	font-size: 14px;
	width: 100%;
	padding: 14px;
	border: none;
	background-color: #4C4C4C;
	color: #FFF;
	resize: none;
}

.contact-form input[type=text]:focus,
.contact-form input[type=email]:focus,
.contact-form textarea:focus {
	background-color: #5F5F5F;
}

.contact-form input[type=text][disabled],
.contact-form input[type=email][disabled],
.contact-form textarea[disabled] {
	color: #999;
	background-color: #454545;
}

.contact-form button {
	background-color: #333;
	color: #FFF;
	font-size: 14px;
	float: right;
	padding: 10px 40px;
}

.fb-like {
	margin-bottom: 20px;
}

.footer {
	background: #404040;
	text-align: center;
	color: #AAA;
	font-size: .95em;
	padding: 20px 0;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .5);
	z-index: 2;
	display: none;
}

.overlay.active {
	display: block;
}

.dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 20px;
	width: 320px;
	height: 120px;
	margin-top: -70px;
	margin-left: -170px;
	background: #FFF;
	border-radius: 10px;
}

.dialog-body {
	text-align: center;
	font-size: 1.5em;
}

.dialog .fa-check {
	font-size: 3em;
	display: block;
	text-align: center;
}

.dialog-action {
	position: absolute;
	left: 20px;
	right: 20px;
	bottom: 10px;
	padding-top: 10px;
	text-align: center;
	border-top: 1px solid #DDD;
}

.dialog-action a {
	color: #09F;
	font-size: 1.5em;
}

::selection {
	color: #FFF;
	background: #f39c12;
}

::-moz-selection {
	color: #FFF;
	background: #f39c12;
}

@-webkit-keyframes barberpole {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 60px 30px;
	}
}

@-moz-keyframes barberpole {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 60px 30px;
	}
}

webkit-keyframes barberpole {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 60px 30px;
	}
}

.jelly {
	-webkit-animation: jelly 1000ms linear;
	animation: jelly 1000ms linear;
}
/* Generated with Bounce.js. Edit at http://goo.gl/C0ExJs */

@-webkit-keyframes jelly {
	0% {
		-webkit-transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	3.4% {
		-webkit-transform: matrix3d(0.658, 0, 0, 0, 0, 0.703, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(0.658, 0, 0, 0, 0, 0.703, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	4.7% {
		-webkit-transform: matrix3d(0.725, 0, 0, 0, 0, 0.8, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(0.725, 0, 0, 0, 0, 0.8, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	6.81% {
		-webkit-transform: matrix3d(0.83, 0, 0, 0, 0, 0.946, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(0.83, 0, 0, 0, 0, 0.946, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	9.41% {
		-webkit-transform: matrix3d(0.942, 0, 0, 0, 0, 1.084, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(0.942, 0, 0, 0, 0, 1.084, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	10.21% {
		-webkit-transform: matrix3d(0.971, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(0.971, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	13.61% {
		-webkit-transform: matrix3d(1.062, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1.062, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	14.11% {
		-webkit-transform: matrix3d(1.07, 0, 0, 0, 0, 1.165, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1.07, 0, 0, 0, 0, 1.165, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	17.52% {
		-webkit-transform: matrix3d(1.104, 0, 0, 0, 0, 1.12, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1.104, 0, 0, 0, 0, 1.12, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	18.72% {
		-webkit-transform: matrix3d(1.106, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1.106, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	21.32% {
		-webkit-transform: matrix3d(1.098, 0, 0, 0, 0, 1.035, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1.098, 0, 0, 0, 0, 1.035, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	24.32% {
		-webkit-transform: matrix3d(1.075, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1.075, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	25.23% {
		-webkit-transform: matrix3d(1.067, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1.067, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	29.03% {
		-webkit-transform: matrix3d(1.031, 0, 0, 0, 0, 0.948, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1.031, 0, 0, 0, 0, 0.948, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	29.93% {
		-webkit-transform: matrix3d(1.024, 0, 0, 0, 0, 0.949, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1.024, 0, 0, 0, 0, 0.949, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	35.54% {
		-webkit-transform: matrix3d(0.99, 0, 0, 0, 0, 0.981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(0.99, 0, 0, 0, 0, 0.981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	36.74% {
		-webkit-transform: matrix3d(0.986, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(0.986, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	41.04% {
		-webkit-transform: matrix3d(0.98, 0, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(0.98, 0, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	44.44% {
		-webkit-transform: matrix3d(0.983, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(0.983, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	52.15% {
		-webkit-transform: matrix3d(0.996, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(0.996, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	59.86% {
		-webkit-transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	63.26% {
		-webkit-transform: matrix3d(1.004, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1.004, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	75.28% {
		-webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	85.49% {
		-webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	90.69% {
		-webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	100% {
		-webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
}

@keyframes jelly {
	0% {
		-webkit-transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	3.4% {
		-webkit-transform: matrix3d(0.658, 0, 0, 0, 0, 0.703, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(0.658, 0, 0, 0, 0, 0.703, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	4.7% {
		-webkit-transform: matrix3d(0.725, 0, 0, 0, 0, 0.8, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(0.725, 0, 0, 0, 0, 0.8, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	6.81% {
		-webkit-transform: matrix3d(0.83, 0, 0, 0, 0, 0.946, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(0.83, 0, 0, 0, 0, 0.946, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	9.41% {
		-webkit-transform: matrix3d(0.942, 0, 0, 0, 0, 1.084, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(0.942, 0, 0, 0, 0, 1.084, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	10.21% {
		-webkit-transform: matrix3d(0.971, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(0.971, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	13.61% {
		-webkit-transform: matrix3d(1.062, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1.062, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	14.11% {
		-webkit-transform: matrix3d(1.07, 0, 0, 0, 0, 1.165, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1.07, 0, 0, 0, 0, 1.165, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	17.52% {
		-webkit-transform: matrix3d(1.104, 0, 0, 0, 0, 1.12, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1.104, 0, 0, 0, 0, 1.12, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	18.72% {
		-webkit-transform: matrix3d(1.106, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1.106, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	21.32% {
		-webkit-transform: matrix3d(1.098, 0, 0, 0, 0, 1.035, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1.098, 0, 0, 0, 0, 1.035, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	24.32% {
		-webkit-transform: matrix3d(1.075, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1.075, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	25.23% {
		-webkit-transform: matrix3d(1.067, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1.067, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	29.03% {
		-webkit-transform: matrix3d(1.031, 0, 0, 0, 0, 0.948, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1.031, 0, 0, 0, 0, 0.948, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	29.93% {
		-webkit-transform: matrix3d(1.024, 0, 0, 0, 0, 0.949, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1.024, 0, 0, 0, 0, 0.949, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	35.54% {
		-webkit-transform: matrix3d(0.99, 0, 0, 0, 0, 0.981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(0.99, 0, 0, 0, 0, 0.981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	36.74% {
		-webkit-transform: matrix3d(0.986, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(0.986, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	41.04% {
		-webkit-transform: matrix3d(0.98, 0, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(0.98, 0, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	44.44% {
		-webkit-transform: matrix3d(0.983, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(0.983, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	52.15% {
		-webkit-transform: matrix3d(0.996, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(0.996, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	59.86% {
		-webkit-transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	63.26% {
		-webkit-transform: matrix3d(1.004, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1.004, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	75.28% {
		-webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	85.49% {
		-webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	90.69% {
		-webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	100% {
		-webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
}
/**
 * Responsive Styles
 */

@media screen and (max-width: 980px) {
	.wrapper {
		margin: 0 20px;
	}
}

@media screen and (max-width: 720px) {
	.wrapper {
		margin: 0 10px;
	}
	.grid {
		margin-left: 0;
		margin-right: 0;
	}
	.job-list .grid-cell {
		padding: 10px;
	}
	.product-list .grid-cell {
		margin: 10px;
	}
	.product-list.col-3 li,
	.os-list.col-4 li {
		width: 50%;
	}
	.contact-form {
		width: auto;
		margin: 0 10px;
	}
}

@media screen and (max-width: 480px) {
	.grid.col-4 li,
	.grid.col-3 li {
		width: 100%;
	}
	.skillset.col-4 li {
		padding-top: 50%;
	}
	.os-list.col-4 li {
		width: 50%;
	}
	.master-nav ul:first-child {
		display: none;
	}
	.headline {
		font-size: 4em;
	}
	.subtitle {
		font-size: 1.5em;
	}
	.contact .fb-like {
		display: none;
	}
